@inherits LayoutComponentBase

<PageTitle>Superkatten.Katministratie.Web</PageTitle>

<div class="page">
    <main>
        <Layout>
            <Header Style=""> <a href="https://www.superkatten.nl/" target="_blank">Superkatten</a></Header>
            <Content>@Body</Content>
            <Footer>superkatten administratie (c) 2022</Footer>
        </Layout>        
    </main>
</div>
