@page "/OverviewSuperkatten"

@using Blazorise.SpinKit
@using Superkatten.Katministratie.Host.Components.SuperkatComponents

<PageTitle>Superkatten</PageTitle>

<Row>
    <Column ColumnSize="ColumnSize.Is9">
        <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnBackHome">Terug</Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is2">
        <Div Position="Position.Absolute.Bottom.Is0">
            <Check TValue="bool" Checked="@_showSimpleListView" CheckedChanged="@OnChangeSimpleListViewAsync" >Simple</Check>
        </Div>
    </Column>
</Row>

<Divider />

@if (!Superkatten.Any())
{    
    <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
        <SpinKit Type="SpinKitType.Chase" Size="60px"/>
    </Div>
    return;
}

@foreach (var superkat in Superkatten)
{
    if (_showSimpleListView)
    {
        <SimpleSuperkatComponent Superkat=superkat />
        continue;
    }

    <SuperkatComponent Superkat=superkat />
}

