@page "/OverviewSuperkatten"

@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Host.Components.SuperkatComponents
@using Superkatten.Katministratie.Host.Services

@inject NavigationManager _navigationManager;
@inject ISuperkatActionService _superkatActionService;

<PageTitle>Superkatten</PageTitle>

@if(Superkatten is null)
{
    <IsLoadingMessage InfoTitle="Initialisatie." InfoMessage="Inlezen data..." />
    return;
}

<Row Class="mb-2">
    <Col Class="col-12">
        <Button Block="@true" OnClick="@OnBackHome">Terug</Button>
    </Col>
</Row>

@if (!Superkatten.Any())
{
    <IsLoadingMessage InfoTitle="Superkatten." InfoMessage="@LoadingInfoMessage" />
}
else
{
    @foreach (var superkat in Superkatten)
    {
        <SuperkatComponent Superkat=superkat />
    }
}
