@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Web.Components


<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="p-2 border">
                <img class="img-thumbnail" src=".\Images\superkat.jpg" />      
            </div>
        </div>
        <div class="col-4">
            <div class="bg-black text-white">
                nr: @SuperkatDisplayableNumber
            </div>
            <SuperkatActions SuperkatContext="SuperkatContext" />
        </div>
    </div>
</div>


@code {
    [ParameterAttribute]
    public Superkat? SuperkatContext { get; set; }

    public string SuperkatDisplayableNumber 
    {
        get
        { 
            if (SuperkatContext is null)
            {
                return "?";
            }

            var yearPart = SuperkatContext.FoundDate.Year % 100;
            return yearPart + "-" + SuperkatContext?.Number.ToString("000");
        }
    }

}
