@using Superkatten.Katministratie.Application.Contracts


<div class="container-fluid">
    <p>Dit is een card waarin de katdata staat vermeld.</p>
    <p>Number:@SuperkatContext?.FoundDate.Year @SuperkatContext?.Number</p>
    <p>Name: @SuperkatContext?.Name</p>
</div>


@code {
    [ParameterAttribute]
    public Superkat? SuperkatContext { get; set; }
}
