@using Superkatten.Katministratie.Application.Contracts


<div class="container-fluid">
    <div class="row">
        <p>Number:@SuperkatContext?.FoundDate.Year @SuperkatContext?.Number</p>
        <p>Kleur: @SuperkatContext?.Kleur</p>
        <p>Vanglokatie: @SuperkatContext?.CatchLocation</p>
    </div>
</div>


@code {
    [ParameterAttribute]
    public Superkat? SuperkatContext { get; set; }
}
