@using Superkatten.Katministratie.Application.Contracts


<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="p-2 border">
                <img class="img-thumbnail" src=".\Images\superkat.jpg" />      
            </div>
        </div>
        <div class="col-4">
            <div class="bg-black text-white">
                nr: @SuperkatContext?.FoundDate.Year@SuperkatContext?.Number
            </div>
            <div>@SuperkatContext?.Kleur</div>
            <div>@SuperkatContext?.CatchLocation</div>
        </div>
    </div>
</div>


@code {
    [ParameterAttribute]
    public Superkat? SuperkatContext { get; set; }
}
