@page "/"
@using Superkatten.Katministratie.Api.Client.Components

<PageTitle>Katministratie</PageTitle>

<div>
    <p>Menu</p>
    <hr/>
</div>
<div>
    <button @onclick="CreateNewSuperkat">Nieuwe kat</button>
</div>

<div style="display:flex;flex-direction:column;">
    @foreach (var superkatView in Superkatten)
    {
        <SuperkatViewer Superkat="@superkatView" />
    }
</div>