@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Web.Components

<div class="row shadow-sm p-1 mb-1 bg-body-rounded">
    <div class="col-4">                       
        <img class="img-thumbnail" src=".\Images\superkat.jpg" />
        <p>@SuperkatName</p>
        <p>@SuperkatContext?.CatchLocation</p>
    </div>        

    <div class="col-6">
        <div class="row">
            <div class="col">
                <div class="">
                    <div class="fs-1 px-2 text-end w3-highway-green text-white">
                        @SuperkatDisplayableNumber
                    </div>
                    <SuperkatActions SuperkatContext="SuperkatContext" />
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [ParameterAttribute]
    public Superkat? SuperkatContext { get; set; }

    public string SuperkatName
    {
        get
        {
            if (SuperkatContext is null)
            {
                return "onbekend";
            }

            if (string.IsNullOrEmpty(SuperkatContext?.Name))
            {
                return "geen naam";
            }

            return SuperkatContext?.Name;
        }
    }

    public string SuperkatDisplayableNumber 
    {
        get
        { 
            if (SuperkatContext is null)
            {
                return "?";
            }

            var yearPart = SuperkatContext.FoundDate.Year % 100;
            return yearPart + "-" + SuperkatContext?.Number.ToString("000");
        }
    }

}
