@page "/OverviewGastgezinnen"

@using Superkatten.Katministratie.Host.Components.GastgezinComponents;
@using Superkatten.Katministratie.Host.Services;
@using Superkatten.Katministratie.Host.Entities;

@inject NavigationManager _navigationManager
@inject IGastgezinService _gastgezinnenService

<PageTitle>Superkatten Gastgezinnen</PageTitle>

<AntDesign.Row Class="mb-2">
    <AntDesign.Col Class="col-12">
        <Button Block="@true" OnClick="@OnCreateGastgezin">Toevoegen gastgezin</Button>
    </AntDesign.Col>
</AntDesign.Row>

<AntDesign.Row Class="mb-2">
    <AntDesign.Col Class="col-12">
        <Button Block="@true" OnClick="@OnBackHome">Terug</Button>
    </AntDesign.Col>
</AntDesign.Row>

<Divider />

@if (!_gastgezinnen.Any())
{    
    <div style="margin: 3rem auto; width: 20rem">
        <div class="card">
        <img src="images\superkat.jpg"
                class="card-img-top"
                alt="Phone" />
        <div class="card-body">
            <h5 class="card-title">Katministratie</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ophalen gastgezinnen</h6>
            <p class="card-text">
            Nog geen gastgezinnen zijn aangemeld
            </p>
        </div>
        </div>
    </div>
}
else
{
    @foreach (var gastgezin in _gastgezinnen)
    {
        <GastgezinComponent Gastgezin=gastgezin OnGastgezinDeleted=OnGastgezinDeleted/>
    }    
}