@page "/OverviewGastgezinnen"

@using Blazorise.SpinKit
@using Superkatten.Katministratie.Host.Components.GastgezinComponents;

<PageTitle>Gastgezinnen</PageTitle>

<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnCreateGastgezin">Toevoegen gastgezin</Button>
<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnBackHome">Terug</Button>

<Divider />

@if (!_gastgezinnen.Any())
{    
    <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
        <SpinKit Type="SpinKitType.Chase" Size="60px"/>
    </Div>
    return;
}

@foreach (var gastgezin in _gastgezinnen)
{
    <GastgezinComponent Gastgezin=gastgezin OnGastgezinDeleted=OnGastgezinDeleted/>
}