<h3>Gastgezin</h3>

<p>Gebruik <Button /> om de superkat te reserveren in het systeem. Vul het email adres in van de adoptant, 
    deze zal een email ontvangen waarin een link staat waarin de adoptant naar een pagina wordt geleidt om 
    zijn/haar gegevens in te vullen.
</p>