<div style="margin: 3rem auto; width: 20rem">
    <div class="card">
    <img src="images\superkat.jpg"
            class="card-img-top"
            alt="superkatten" />
    <div class="card-body">
        <h5 class="card-title">Katministratie</h5>
        <h6 class="card-subtitle mb-2 text-muted">@InfoTitle</h6>
        <p class="card-text">
        @InfoMessage
        </p>
    </div>
    </div>
</div>

