@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Host.Components

<div class="container-fluid">
  <Row>
    <Col class="col-lg-4 col-md-4 col-sm-4 align-content-center">
        <Image Width="100px" Src=".\images\superkat.jpg" />
    </Col>
    <Col class="col-lg-8 col-md-8 col-sm-8">
      <div class="m-1">
        <h5 class="m-1 bg-black text-white">@SuperkatDisplayableNumber</h5>
        <div class="m-1">
            Locatie: @Superkat.CatchLocation
        </div>
        <div class="m-1">
            Hok: @Superkat.HokNumber
        </div>
        <div class="m-1">
            <SuperkatActions @bind-Superkat="@Superkat" />
        </div>
      </div>
    </Col>
  </Row>
</div>


@code {
    [ParameterAttribute]
    public Superkat Superkat { get; set; } = new();

    public string SuperkatDisplayableNumber => Superkat.DisplayableNumber;
}
