@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Host.Entities

@if (Superkat is null)
{
    <Row Class="mb-2 border">
        <div class="col-xl-1 col-lg-1 col-md-3 col-4 align-content-center">
            <Image Width="100px" Src=".\images\superkat.jpg" />
        </div>
        <div class="col-xl-11 col-lg-11 col-md-9 col-8">
            <h5 class="p-1 bg-black text-white">
                inlezen kat informatie...
            </h5>
        </div>
    </Row>
    return;
}

<Row Class="mb-2 border">
    <Col class="col-xl-1 col-lg-1 col-md-3 col-4 align-content-center">
        <Image Width="100px" Src=".\images\superkat.jpg" />
    </Col>
    <Col class="col-xl-11 col-lg-11 col-md-9 col-8">
        <h5 class="p-1 bg-black text-white">
            <BehaviourComponent Behaviour="@Superkat!.Behaviour" />
            <span>
                @SuperkatDisplayableNumber
            </span>
            <span>
                @switch(Superkat.Gender)
                {
                    case Gender.Unknown:
                        <small class="text-muted">(Onbekend)</small>
                        break;
    
                    case Gender.Molly:
                        <small class="text-muted">(Poes)</small>
                        break;

                    case Gender.Tomcat:
                        <small class="text-muted">(Kater)</small>
                        break;
                }
            </span>
        </h5>
        <div class="mb-2">
            <div class="mb-0">Locatie: @Superkat.CatchLocation</div>
            <div class="mb-0">Area: @Superkat.CatArea</div>
            <div class="mb-0">Hok: @Superkat.CageNumber</div>
        </div>
        <div class="mb-0 pt-1">
            <SuperkatActions @bind-Superkat="@Superkat" />
        </div>
    </Col>
</Row>

