@using Superkatten.Katministratie.Host.Services
@using Superkatten.Katministratie.Application.Entities

@inject ISuperkatActionService _superkatActionService

<div class="container">
    <div class="row">
        <div class="col-3">
            <SuperkatAction
                OnClickCallback="@ToggleReserve"
                ActionIcon="@(Superkat.Reserved ? "./images/actions/isreserved.jpg" : "./images/actions/notreserved.jpg")" />
        </div>

        <div class="col-3">
            <SuperkatAction
                OnClickCallback="@ToggleRetour"
                ActionIcon="@(Superkat.Retour ? "./images/actions/isretour.jpg" : "./images/actions/notretour.jpg")" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Superkat Superkat { get; set; } = new();

    [Parameter]
    public EventCallback<Superkat> SuperkatChanged { get; set; }

    private async Task ToggleReserve()
    {
        await Task.Delay(1000);
        await _superkatActionService.ToggleReserveSuperkatAsync(Superkat.Number);
        await UpdateSuperkat(!Superkat.Reserved, Superkat.Retour);
    }

    private async Task ToggleRetour()
    {
        await Task.Delay(2000);
        await _superkatActionService.ToggleRetourSuperkatAsync(Superkat.Number);
        await UpdateSuperkat(Superkat.Reserved, !Superkat.Retour);
    }

    private async Task UpdateSuperkat(bool reserve, bool retour)
    {
        await SuperkatChanged.InvokeAsync(Superkat = new Superkat
        {
            Name = Superkat.Name,
            Birthday = Superkat.Birthday,
            CatchLocation = Superkat.CatchLocation,
            CatchDate = Superkat.CatchDate,
            Number = Superkat.Number,
            Reserved = reserve,
            Retour = retour,
            Area = Superkat.Area,
            CageNumber = Superkat.CageNumber
        });
    }
}
