@using Superkatten.Katministratie.Application.Contracts

<div class="m-0 p-0">
  <Button OnClick="ExecuteAction">
    <Tooltip Placement="@Placement.TopRight" Title="@TooltipText">
      <span class="material-icons">
          @ActionIcon
      </span>
      </Tooltip>
  </Button>
</div>

@code {
    [Parameter]
    public string ActionIcon { get; set; } = "help";

    [Parameter]
    public string TooltipText { get; set; } = "unknown";

    public void ExecuteAction() => OnClickCallback.InvokeAsync();

    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}
