@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Web.Services

@inject ISuperkatActionService _superkatActionService

<div class="container border">
    <div class="row">
        <div class="col-2">
            @if(Context.Reserved)
            {
                <SuperkatAction OnClickCallback="@ReserveSuperkat" TooltipText="Reserveer de kat" ActionIcon="favorite_border" />                
            }
            else
            {
                <SuperkatAction OnClickCallback="@ReserveSuperkat" TooltipText="Maak reservatie ongedaan" ActionIcon="do_not_disturb" />
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Superkat Context { get; set; } = new();

    private void ReserveSuperkat()
    {
        _superkatActionService.ToggleReserveSuperkatAsync(Context.Number);
    }

    private void SwitchGoingRetour()
    {
        _superkatActionService.ToggleRetourSuperkatAsync(Context.Number);
    }
}
