@using Superkatten.Katministratie.Contract.Entities

<Div>
    <Field Horizontal>
        <Fields>
            @switch(State)
            {
                case SuperkatState.Trapped:
                    <FieldLabel Padding="Padding.Is0" Margin="Margin.Is0"><b><h3 style="color:forestgreen">T</h3></b></FieldLabel>
                    <FieldLabel Padding="Padding.Is0" Margin="Margin.Is0"><h3 style="color:antiquewhite">NRC</h3></FieldLabel>
                    break;

                case SuperkatState.Neutralized:
                    <FieldLabel TextColor="TextColor.Danger">TN</FieldLabel>
                    <FieldLabel TextColor="TextColor.Dark">RC</FieldLabel>
                    break;

                case SuperkatState.Returnable:
                    <FieldLabel TextColor="TextColor.Danger">TNR</FieldLabel>
                    <FieldLabel TextColor="TextColor.Dark">C</FieldLabel>
                    break;

                case SuperkatState.Checked:
                    <FieldLabel TextColor="TextColor.Danger">TNRC</FieldLabel>
                    break;            
            }
        </Fields>
    </Field>
</Div>

@code {
    [Parameter]
    public SuperkatState State { get; set; }
}
