@using Superkatten.Katministratie.Application.Entities

<div class="m-0 p-0">
    <Image Src="@ActionIcon" OnClick="@ExecuteAction" Preview="false" />
</div>

@code {
    [Parameter]
    public string ActionIcon { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    private bool BusyWithAction = false;

    public async void ExecuteAction() 
    {
        BusyWithAction = true;
        await OnClickCallback.InvokeAsync();
        BusyWithAction = false;
    }
}
