@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Web.Services

@inject ISuperkatActionService _superkatActionService

<div class="container border">
    <div class="row">
        <div class="col-2">
            @if(Context.Reserved)
            {
                <SuperkatAction OnClickCallback="@ToggleReserve" TooltipText="Reserveer de kat" ActionIcon="favorite_border" />                
            }
            else
            {
                <SuperkatAction OnClickCallback="@ToggleReserve" TooltipText="Maak reservatie ongedaan" ActionIcon="do_not_disturb" />
            }
        </div>

        <div class="col-2">
            @if(Context.Retour)
            {
                <SuperkatAction OnClickCallback="@ToggleRetour" TooltipText="Kat gaat terug naar vanglocatie" ActionIcon="autorenew" />                
            }
            else
            {
                <SuperkatAction OnClickCallback="@ToggleRetour" TooltipText="Kat gaat het normale adoptieproces in" ActionIcon="arrow_forward" />
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Superkat Context { get; set; } = new();

    private void ToggleReserve()
    {
        _superkatActionService.ToggleReserveSuperkatAsync(Context.Number);
    }

    private void ToggleRetour()
    {
        _superkatActionService.ToggleRetourSuperkatAsync(Context.Number);
    }
}
