@using Superkatten.Katministratie.Application.Contracts

<div  class="card" style="width: 100%;">
    <div class="h1" style="background-color:lightskyblue;max-width: 100%;">@Titel</div>
    <div class="d-flex p-2 bd-highlight">
        <div class="list-group">
            <p class="">Found: @FoundDateText</p>
            <p>Location: @Context.CatchLocation</p>
            <p>gecastreerd: Ja</p>
            <p>Stronghold</p>
            <p>Gastgezin: de Kroon, RHenoy</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Superkat Context { get; set; }

    public string Titel 
    {
        get
        {
            var displayNumberBuilder = new System.Text.StringBuilder();
            displayNumberBuilder.Append(Context.FoundDate.Year);
            displayNumberBuilder.Append("-");
            displayNumberBuilder.Append(Context.Number.ToString("000"));

            return displayNumberBuilder.ToString();
        }
    }

    public string FoundDateText
    {
        get
        {
            return Context.FoundDate.Date.ToLongDateString();
        }
    }

    public string SuperkatFoto 
    {
        get 
        {
            return "../images/nosuperkatpicture.jpg";
        }
    }

}
