@using Superkatten.Katministratie.Application.Contracts

<div>@Context.Number</div>
<div>@Context.Name </div>
<div>@Context.FoundDate</div>

@code {
    [Parameter]
    public Superkat Context { get; set; }

}
