@page "/CreateSuperkat"

@using Superkatten.Katministratie.Web.Services
@using Superkatten.Katministratie.Application.Contracts;

@inject NavigationManager NavigationManager
@inject ISuperkattenListService _superkattenService


<PageTitle>Nieuwe superkat</PageTitle>

<div class="container-fluid">
    <Form Layout="FormLayout.Inline"
          Model="@model"
          LabelCol="GetFormLabelCol()"
          WrapperCol="GetFormWrapperCol()"
          OnFinish="OnOk" 
          OnFinishFailed="OnCancel">
        <FormItem Label="Vang locatie" >
            <Input @bind-Value="@context.CatchLocation"/>
        </FormItem>
        <FormItem Label="Aantal weken oud">
            <Input @bind-Value="context.WeeksOld">WeeksOld</Input>
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16" Label="Retour">
            <Switch @bind-Value="context.IsGoingRetour" />
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16" Label="Stronghold gehad">
            <Switch @bind-Value="context.HasStrongHold" />
        </FormItem>

        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Submit
            </Button>
        </FormItem>
    </Form>
</div>

@code 
{
    public class Model
    {
        public string CatchLocation { get; set; } = string.Empty;
        public bool IsGoingRetour { get; set; } = false;
        public bool HasStrongHold { get; set; } = false;
        public int WeeksOld { get; set; }
    }

    private Model model = new Model();


    public void OnChangeHasStronghold()
    {
        model.HasStrongHold = !model.HasStrongHold;
    }

    public async Task OnOk()
    {
        var parameters = new CreateSuperkatParameters()
            {
                CatchLocation = model.CatchLocation,
                WeeksOld = model.WeeksOld,
            };
        await _superkattenService.CreateSuperkatAsync(parameters);
        NavigationManager.NavigateTo("/");
    }

    public void OnCancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private ColLayoutParam GetFormLabelCol()
    {
        return null;
    }

    private ColLayoutParam GetFormWrapperCol()
    {
        return null;
    }
}
