@page "/"
@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Web.Services

@inject NavigationManager _navigationManager
@inject ISuperkattenListService _superkattenService

<PageTitle>Superkatten</PageTitle>

<h1>Superkatten</h1>

<div>
    <Row>
        <div class="m-2">
            <Button Type="@ButtonType.Primary" OnClick="OnCreateSuperkat">
                Nieuwe kat
            </Button>
        </div>
    </Row>
</div>

@if (!_superkatten.Any())
{
    <div style="margin: 3rem auto; width: 20rem">
      <div class="card">
        <img src="images\superkat.jpg"
             class="card-img-top"
             alt="Phone" />
        <div class="card-body">
          <h5 class="card-title">Katministratie</h5>
          <h6 class="card-subtitle mb-2 text-muted">Ophalen katten</h6>
          <p class="card-text">
            Ophalen van de katten uit de database. Dit kan even duren...
          </p>
        </div>
      </div>
    </div>
}
else
{    
    <Divider Orientation="left" />

    <Row>
        <div class="p-2 ">
        @foreach (var superkat in Superkatten)
        {
            <SuperkatComponent Superkat=superkat />
        }
        </div>
    </Row>
}


@code {

    public List<Superkat> _superkatten = new();
    public List<Superkat> Superkatten => _superkatten;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await UpdateListAsync();
    }

    private async Task UpdateListAsync()
    {
        if (_superkattenService == null)
        {
            return;
        }

        var superkatten = await _superkattenService.GetAllSuperkattenAsync();
        _superkatten = superkatten
            .AsQueryable()
            .OrderByDescending(sk => sk.Number)
            .ToList();
    }

    private void OnCreateSuperkat()
    {
        _navigationManager.NavigateTo("CreateSuperkat");
    }
}