@page "/"

@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Host.Services
@using Superkatten.Katministratie.Application.Entities

@inject NavigationManager _navigationManager
@inject ISuperkattenListService _superkattenService

<PageTitle>Superkatten</PageTitle>

<Row>
    <Col Class="col-2">
        <Image Src="Images/superkat.jpg"></Image>
    </Col>
    <Col Class="col-10">
        <h1>Superkatten katministratie</h1>
    </Col>
</Row>

<Row>
    <Button Block="@true" OnClick="OnCreateSuperkat" Class="mb-2">
        Nieuwe kat toevoegen
    </Button>

    <Button Block="@true" OnClick="OnShowOverviewSuperkatten" Class="mb-2">
        Lijst katten
    </Button>
    
    <Button Block="@true" OnClick="OnShowOverviewGastgezinnen" Class="mb-2">
        Lijst gastgezinnen
    </Button>
</Row>

@code {
    private void OnCreateSuperkat()
    {
        _navigationManager.NavigateTo("CreateSuperkat");
    }

    private void OnShowOverviewSuperkatten()
    {
        _navigationManager.NavigateTo("OverviewSuperkatten");
    }

    private void OnShowOverviewGastgezinnen()
    {
        _navigationManager.NavigateTo("OverviewGastgezinnen");
    }
}