@page "/OverviewSuperkatten"

@using Superkatten.Katministratie.Application.Entities
@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Host.Services

@inject NavigationManager _navigationManager
@inject ISuperkattenListService _superkattenService

<PageTitle>Superkatten</PageTitle>

<Row>
    <Col Class="col-12">
        <Button Block="@true" OnClick="@OnBackHome">Terug</Button>
    </Col>
</Row>

@if (!_superkatten.Any())
{
    <div style="margin: 3rem auto; width: 20rem">
      <div class="card">
        <img src="images\superkat.jpg"
             class="card-img-top"
             alt="Phone" />
        <div class="card-body">
          <h5 class="card-title">Katministratie</h5>
          <h6 class="card-subtitle mb-2 text-muted">Zoeken superkatten</h6>
          <p class="card-text">
            NOg geen superkatten gevonden
          </p>
        </div>
      </div>
    </div>
}
else
{
    @foreach (var superkat in Superkatten)
    {
        <SuperkatComponent Superkat=superkat />
    }
}


@code {

    public List<Superkat> _superkatten = new();
    public List<Superkat> Superkatten => _superkatten;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await UpdateListAsync();
    }

    private async Task UpdateListAsync()
    {
        if (_superkattenService == null)
        {
            return;
        }

        var superkatten = await _superkattenService.GetAllSuperkattenAsync();
        _superkatten = superkatten
            .AsQueryable()
            .OrderByDescending(sk => sk.Number)
            .ToList();
    }

    private void OnBackHome()
    {
        _navigationManager.NavigateTo("");
    }
}
