@page "/CageCard"
@using Superkatten.Katministratie.Contract.Entities
@using Superkatten.Katministratie.Host.Components

<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnOk">Ok</Button>
<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnCancel">Terug</Button>

<Divider />
            
<SelectListComponent 
  TItem="CatArea" 
  DefaultText="Selecteer area" 
  SelectionItems="@_areaSelectionList" 
  OnSelectedItem="OnCatAreaChanged"/>

<SelectListComponent 
  TItem="int" 
  DefaultText="Selecteer hok nummer" 
  SelectionItems="@_cageNumberSelectionList" 
  OnSelectedItem="OnCageNumberChanged"/>
