<Row Class="mt-3 mb-2" style="padding-left:10px; background-color:aliceblue; color: dimgray; width:100%">
    <div style="border:dashed 1px"
        <b>@Titel</b>
    </div>
</Row>

@code {
    [Parameter]
    public string Titel { get; set; } = string.Empty;
}
