@using Superkatten.Katministratie.Contract.Entities;

@if (SuperkatView is null)
{
    <AntDesign.Spin />
    return;
}

<Div>
    <Field>
        Locatie-hok: @SuperkatView.CatArea-@SuperkatView.CageNumber
    </Field>
</Div>
