@using Superkatten.Katministratie.Contract.Entities;

@if (SuperkatView is null)
{
    <AntDesign.Spin />
    return;
}

<div class="mb-0">Locatie-hok: @SuperkatView.CatArea-@SuperkatView.CageNumber</div>
