@using Superkatten.Katministratie.Host.Entities;

@if (Gastgezin is null)
{
    <div>...</div>
    return;
}

<div>@Gastgezin.Name</div>
<div>@Gastgezin.Address"</div>
<div>@Gastgezin.City</div>
<div>@Gastgezin.Phone"></div>

