@using Superkatten.Katministratie.Host.Entities;
<div>Gastgezin details:</div>
@if (Gastgezin is null)
{
    <div>GASTGEZIN IS EMPTY</div>
    return;
}

<div>@Gastgezin.Name</div>
<div>@Gastgezin.Address</div>
<div>@Gastgezin.City</div>
<div>@Gastgezin.Phone</div>

