@using Superkatten.Katministratie.Host.Services
@using Superkatten.Katministratie.Host.Entities;

<div class="container">
    <Button OnClick="@OnClose">Close</Button>

    <Row>
        <p>Hieruit kan je selecteren</p>
        <Col Class="col-12">
            
            @foreach(var superkat in AvailableSuperkatten)
            {
                <Button OnClick="() => { AddSuperkatToSelection(superkat); }">@superkat.Number</Button>
            }
        </Col>
    </Row>
    
    <Divider />
    
    <p>Geselecteerde katten</p>
    <Row>
        <Col Class="col-12">
            
            @foreach(var superkat in AssignedSuperkatten)
            {
                <Button Class="btn btn-primary" OnClick="() => RemoveSuperkatFromSelection(superkat)">@superkat.Number</Button>
            }

        </Col>
    </Row>
</div>
