@page "/fetchdata"
@inject Services.SuperkattenService superkattenService


<h1>Lijst van katten</h1>

@if (superkattenLijst == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Naam kat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var superkat in superkattenLijst)
            {
                <tr>
                    <td>@superkat.Nummer</td>
                    <td>@superkat.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IReadOnlyCollection<Models.Superkat> superkattenLijst;

    protected override async Task OnInitializedAsync()
    {
        superkattenLijst = await superkattenService.GetSuperkattenAsync();
    }
}
