@page "/CreateSuperkat"

@using Superkatten.Katministratie.Web.Services
@using Superkatten.Katministratie.Application.Contracts;

@inject NavigationManager NavigationManager
@inject ISuperkattenListService _superkattenService


<PageTitle>Nieuwe superkat</PageTitle>

<div class="container-fluid">
    <div class="row">
        <Input Placeholder="Kleur kat" @bind-Value="@_kleur" />
        <Input Placeholder="Vang lokatie" @bind-Value="@_catchLocation" />
    </div>
    <div class="row">
        <div class="p-md-2">
            <Button Type="@ButtonType.Primary" OnClick="@StoreNewSuperkatAsync">Ok</Button>
        </div>
    </div>
</div>

@code {
    //[Inject]
    //public ISuperkattenListService? _superkattenService { get; set; }

    public string _kleur { get; set; } = string.Empty;
    public string _catchLocation { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public async Task StoreNewSuperkatAsync()
    {
        var parameters = new CreateSuperkatParameters()
        {
            Kleur = _kleur,
            CatchLocation = _catchLocation
        };
        await _superkattenService.CreateSuperkatAsync(parameters);
        NavigationManager.NavigateTo("/");
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
