@page "/"
@using Superkatten.Katministratie.Web.Components

@inject NavigationManager NavigationManager

<PageTitle>Overzicht superkatten</PageTitle>


<Row Wrap="false">
    <Button Type="primary" OnClick="() => NavigateToCreatePage()">Intake</Button>
</Row>

<Row>
    <SuperkattenList2 />
</Row>

@code 
{
    public void NavigateToCreatePage() => NavigationManager.NavigateTo($"/intake");
}
