@page "/"
@using Superkatten.Katministratie.Web.Components

@inject NavigationManager NavigationManager

<PageTitle>Overzicht superkatten</PageTitle>

<div>
    <Button Type="primary" OnClick="() => NavigateToCreatePage()">Nieuw</Button>
    <Space />
    <SuperkattenList />
</div>

@code 
{
    public void NavigateToCreatePage() => NavigationManager.NavigateTo($"/superkatinfocreate");
}
