@page "/"
@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Web.Services
@using Superkatten.Katministratie.Web.Components

<PageTitle>Superkatten</PageTitle>

<h1>Superkatten</h1>

@if (Superkatten is null)
{
    <p>Geen superkatten in het systeem...</p>
}
else
{
    <div>
        <Row>
            <div class="p-lg-1">
                <Button Type="@ButtonType.Primary" OnClick="OnNewSuperkat">
                    Nieuwe kat
                </Button>
            </div>
            <div class="p-lg-1">
                <Button Type="@ButtonType.Primary" >
                    Report
                </Button>
            </div>
        </Row>
    </div>
    
    <Divider Orientation="left" />

    <div>
        <Row>
            <ul>
            @foreach (var superkatEntry in Superkatten)
            {
                <li><SuperkatComponent SuperkatContext=superkatEntry /></li>
            }
            </ul>
        </Row>
    </div>
    
    <Divider Orientation="left" />

    <div>
        <Row>
            <Pagination Size="small" OnChange="OnPageChange" DefaultCurrent="@TotalPageCount" Total="@TotalCount" />
        </Row>
    </div>
}

@code {
    [Inject]
    public ISuperkattenListService? _superkattenService { get; set; }

    public List<Superkat> Superkatten { get; set; } = new List<Superkat>();

    private int TotalPageCount { get; set; } = 4;
    private int TotalCount { get; set; } = 10;
    private int StartIndex { get; set; } = 0;

    private static IEnumerable<int> PageItems => new int[] { 3, 10, 20, 40 };

    private async Task OnPageChange(PaginationEventArgs args) 
    {
        StartIndex = (args.Page - 1) * TotalPageCount;
        await UpdateListAsync();
    }

    protected override async Task OnInitializedAsync() => await UpdateListAsync();

    private async Task UpdateListAsync()
    {
        if (_superkattenService == null)
        {
            return;
        }

        var superkatten = await _superkattenService.GetAllSuperkattenAsync();
        TotalCount = superkatten.Count() * 2;
        Superkatten = superkatten
            .AsQueryable()
            .Where(s => s.Number >= StartIndex)
            .Take(TotalPageCount)
            .OrderByDescending(sk => sk.Number)
            .ToList();
    }

    private async Task OnNewSuperkat()
    {
    }
}