@page "/superkatinfocreate"

@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Web.Services

@inject NavigationManager _navigationManager

<div>
    <div>
        <Input Placeholder="Name" @bind-Value="@SuperkatName"  />
        <Input Placeholder="Name" @bind-Value="@SuperkatLocation"  />
    </div>
    <div>
        <Button Type="@ButtonType.Primary" OnClick="()=>OkClick()"/>
    </div>
</div>

@code
{
    [Inject]
    private ISuperkattenListService _superkattenService { get; set; }

    [Parameter]
    public int SuperkatNumber{ get; set; }


    public string SuperkatName { get; set; } = string.Empty;
    public int SuperkatLocation { get; set; } = 1;

    public void OkClick()
    {
        var createSuperkatParameters = new CreateSuperkatParameters
        {
            Name = SuperkatName,
            Location = SuperkatLocation
        };
        _superkattenService.CreateSuperkatAsync(createSuperkatParameters);
        _navigationManager.NavigateTo($"/");
    }
}